In [1]:
import pandas as pd

## One month interbank rate_monthly

In [2]:
liborfive = pd.read_excel('LIBOR_USDEUDJPYGBPCHF.xlsx')
liborfive = liborfive.drop([0,1,8697,8698])
liborfive.rename(columns = {'指标名称':'date'},inplace = True)
# liborfive = liborfive.set_index('date')
# liborfive['ym'] = liborfive['date'].map(lambda x: 100*x.year + x.month)
# liborfive.drop_duplicates('ym','last',inplace = True)
# liborfive = liborfive.set_index('ym')
# liborfive['date'] = liborfive['date'].dt.strftime('%Y/%m/%d')
# liborfive = liborfive.drop([202002])
liborfive

,date,LIBOR:美元:隔夜,LIBOR:美元:1周,LIBOR:美元:1个月,LIBOR:美元:2个月,LIBOR:美元:3个月,LIBOR:美元:6个月,LIBOR:美元:12个月,LIBOR:欧元:隔夜,LIBOR:欧元:1周,...,LIBOR:英镑:3个月,LIBOR:英镑:6个月,LIBOR:英镑:12个月,LIBOR:瑞郎:隔夜,LIBOR:瑞郎:1周,LIBOR:瑞郎:1个月,LIBOR:瑞郎:2个月,LIBOR:瑞郎:3个月,LIBOR:瑞郎:6个月,LIBOR:瑞郎:12个月
2,1986-01-02 00:00:00,NaN,NaN,8.125,NaN,8,8,8.0625,NaN,NaN,...,11.875,11.875,11.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1986-01-03 00:00:00,NaN,NaN,8.125,NaN,8.0625,8.0625,8.125,NaN,NaN,...,11.875,11.875,11.8125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1986-01-06 00:00:00,NaN,NaN,8.1875,NaN,8.125,8.125,8.125,NaN,NaN,...,11.9063,11.9375,11.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1986-01-07 00:00:00,NaN,NaN,8.125,NaN,8.125,8.125,8.125,NaN,NaN,...,12.0313,12.0625,12.0625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1986-01-08 00:00:00,NaN,NaN,8,NaN,8,8,8.0625,NaN,NaN,...,12.5,12.5,12.4375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,2020-02-14 00:00:00,1.57613,1.58325,1.65825,1.6625,1.69175,1.71,1.79838,-0.56714,-0.54643,...,0.75375,0.80638,0.89475,-0.7818,-0.7962,-0.7772,-0.7402,-0.706,-0.6624,-0.5334
8693,2020-02-17 00:00:00,NaN,1.58225,1.64675,1.64575,1.69288,1.72488,1.79275,-0.56714,-0.54743,...,0.7585,0.80525,0.9025,-0.7854,-0.798,-0.7778,-0.738,-0.7074,-0.6634,-0.5316
8694,2020-02-18 00:00:00,1.56338,1.58338,1.647,1.66038,1.69463,1.71488,1.77188,-0.568,-0.54729,...,0.75625,0.80438,0.89375,-0.7896,-0.8004,-0.7756,-0.7406,-0.7078,-0.6596,-0.5376
8695,2020-02-19 00:00:00,1.57688,1.58238,1.63938,1.68875,1.696,1.69875,1.76888,-0.56614,-0.54729,...,0.75438,0.80325,0.88925,-0.7896,-0.8002,-0.785,-0.7454,-0.709,-0.6744,-0.5438
8696,2020-02-20 00:00:00,1.56713,1.58138,1.62888,1.68163,1.68275,1.69563,1.76175,-0.56671,-0.54529,...,0.751,0.80375,0.89075,-0.787,-0.801,-0.7842,-0.7482,-0.712,-0.6712,-0.5464

In [3]:
colname = list(liborfive.columns)
colname
coln = [colname[7*i+1:7*(i+1)+1] for i in range(5)]
coln
[colnus,colneu,colnjp,colngb,colnsw] = [coln[i] for i in range(5)]

In [4]:
colnus

['LIBOR:美元:隔夜',
 'LIBOR:美元:1周',
 'LIBOR:美元:1个月',
 'LIBOR:美元:2个月',
 'LIBOR:美元:3个月',
 'LIBOR:美元:6个月',
 'LIBOR:美元:12个月']

In [5]:
colneu

['LIBOR:欧元:隔夜',
 'LIBOR:欧元:1周',
 'LIBOR:欧元:1个月',
 'LIBOR:欧元:2个月',
 'LIBOR:欧元:3个月',
 'LIBOR:欧元:6个月',
 'LIBOR:欧元:12个月']

In [6]:
colnjp

['LIBOR:日元:隔夜',
 'LIBOR:日元:1周',
 'LIBOR:日元:1个月',
 'LIBOR:日元:2个月',
 'LIBOR:日元:3个月',
 'LIBOR:日元:6个月',
 'LIBOR:日元:12个月']

In [7]:
colngb

['LIBOR:英镑:隔夜',
 'LIBOR:英镑:1周',
 'LIBOR:英镑:1个月',
 'LIBOR:英镑:2个月',
 'LIBOR:英镑:3个月',
 'LIBOR:英镑:6个月',
 'LIBOR:英镑:12个月']

In [8]:
colnsw

['LIBOR:瑞郎:隔夜',
 'LIBOR:瑞郎:1周',
 'LIBOR:瑞郎:1个月',
 'LIBOR:瑞郎:2个月',
 'LIBOR:瑞郎:3个月',
 'LIBOR:瑞郎:6个月',
 'LIBOR:瑞郎:12个月']

In [9]:
s = list('Libor' + i for i in ['ON','1W','1M','2M','3M','6M','12M'])
s

['LiborON', 'Libor1W', 'Libor1M', 'Libor2M', 'Libor3M', 'Libor6M', 'Libor12M']

### US

In [10]:
liborus = liborfive.loc[:,['date'] + colnus]
liborus.columns = ['date'] + list('US' + i for i in s)
us = liborus.loc[:,['date'] + ['USLibor1M']]
us = us.dropna()
us['ym'] = us['date'].map(lambda x: 100*x.year + x.month)
us.drop_duplicates('ym','last',inplace = True)
us = us.set_index('ym')
us['date'] = us['date'].dt.strftime('%Y/%m/%d')
us.to_excel('implied i_idollar.xlsx')
us = us.drop([202002])
us = us.loc[:,'USLibor1M'] / 100
us
# liborus
# us = liborus.loc[:,'USLibor1M'] / 100
# us

ym
198601     0.080625
198602     0.079375
198603        0.075
198604     0.069375
198605      0.07125
            ...
201909    0.0201563
201910    0.0178488
201911    0.0169713
201912     0.017625
202001    0.0166188
Name: USLibor1M, Length: 409, dtype: object

### EU

In [20]:
liboreu = liborfive.loc[:,['date'] + colneu]
liboreu.columns = ['date'] + list('EU' + i for i in s)
eu = liboreu.loc[:,['date'] + ['EULibor1M']]
eu = eu.dropna()
eu['ym'] = eu['date'].map(lambda x: 100*x.year + x.month)
eu.drop_duplicates('ym','last',inplace = True)
eu = eu.set_index('ym')
# eu['date'] = eu['date'].dt.strftime('%Y/%m/%d')
eu = eu.drop([202002])
eu = eu.loc[:,'EULibor1M'] / 100
eu

ym
199707     0.043125
199708     0.043125
199709    0.0428125
199710    0.0452734
199711    0.0453125
            ...
201909   -0.0050643
201910   -0.0051457
201911   -0.0051557
201912   -0.0051357
202001   -0.0050786
Name: EULibor1M, Length: 271, dtype: object

### JP

In [21]:
liborjp = liborfive.loc[:,['date'] + colnjp]
liborjp.columns = ['date'] + list('JP' + i for i in s)
liborjp
jp = liborjp.loc[:,['date'] + ['JPLibor1M']]
jp = jp.dropna()
jp['ym'] = jp['date'].map(lambda x: 100*x.year + x.month)
jp.drop_duplicates('ym','last',inplace = True)
jp = jp.set_index('ym')
# jp['date'] = jp['date'].dt.strftime('%Y/%m/%d')
jp = jp.drop([202002])
jp = jp.loc[:,'JPLibor1M'] / 100
jp

ym
198601     0.064375
198602      0.06625
198603      0.05625
198604         0.05
198605      0.04875
            ...
201909   -0.0010867
201910   -0.0011167
201911     -0.00191
201912   -0.0008467
202001   -0.0008383
Name: JPLibor1M, Length: 409, dtype: object

### GB

In [22]:
liborgb = liborfive.loc[:,['date'] + colngb]
liborgb.columns = ['date'] + list('GB' + i for i in s)
liborgb
gb = liborgb.loc[:,['date'] + ['GBLibor1M']]
gb = gb.dropna()
gb['ym'] = gb['date'].map(lambda x: 100*x.year + x.month)
gb.drop_duplicates('ym','last',inplace = True)
gb = gb.set_index('ym')
# gb['date'] = gb['date'].dt.strftime('%Y/%m/%d')
gb = gb.drop([202002])
gb = gb.loc[:,'GBLibor1M'] / 100
gb

ym
198601     0.128125
198602     0.126875
198603     0.119375
198604      0.10875
198605      0.10125
            ...
201909    0.0071525
201910    0.0071325
201911    0.0070538
201912    0.0070388
202001      0.00708
Name: GBLibor1M, Length: 409, dtype: object

### SW

In [23]:
liborsw = liborfive.loc[:,['date'] + colnsw]
liborsw.columns = ['date'] + list('SW' + i for i in s)
liborsw
sw = liborsw.loc[:,['date'] + ['SWLibor1M']]
sw = sw.dropna()
sw['ym'] = sw['date'].map(lambda x: 100*x.year + x.month)
sw.drop_duplicates('ym','last',inplace = True)
sw = sw.set_index('ym')
# sw['date'] = sw['date'].dt.strftime('%Y/%m/%d')
sw = sw.drop([202002])
sw = sw.loc[:,'SWLibor1M'] / 100
sw

ym
198901    0.056875
198902        0.06
198903    0.056875
198904     0.06625
198905    0.084375
            ...
201909     -0.0081
201910     -0.0079
201911   -0.008298
201912   -0.007806
202001   -0.007734
Name: SWLibor1M, Length: 373, dtype: object

### HK

In [24]:
hibor = pd.read_excel('香港同业拆借利率HIBOR.xlsx').drop([0,1,4444,4445])
hibor.rename(columns = {'指标名称':'date'},inplace = True)
hibor['ym'] = hibor['date'].map(lambda x: 100*x.year + x.month)
hibor.drop_duplicates('ym','last',inplace = True)
hibor = hibor.set_index('ym')
hibor['date'] = hibor['date'].dt.strftime('%Y/%m/%d')
hibor = hibor.drop([202002,202003])
hibor

,date,HIBOR:隔夜,HIBOR:1周,HIBOR:2周,HIBOR:1个月,HIBOR:2个月,HIBOR:3个月,HIBOR:6个月,HIBOR:12个月
ym,,,,,,,,,
200203,2002/03/28,NaN,NaN,NaN,2.125,2.18527,2.27009,2.5625,3.27009
200204,2002/04/30,NaN,NaN,NaN,1.89063,1.91741,1.95982,2.16071,2.75
200205,2002/05/31,NaN,NaN,NaN,1.73214,1.79688,1.85714,2.06696,2.6808
200206,2002/06/28,NaN,NaN,NaN,1.78571,1.80357,1.82813,1.9442,2.33036
200207,2002/07/31,NaN,NaN,NaN,1.74777,1.75893,1.78571,1.82589,2.11161
...,...,...,...,...,...,...,...,...,...
201909,2019/09/30,3.03929,2.22714,1.79107,1.88357,2.18214,2.26286,2.32893,2.355
201910,2019/10/31,2.37107,1.80964,1.77679,1.77786,2.03107,2.16643,2.21786,2.28714
201911,2019/11/29,2.2225,2.17036,2.18804,2.18613,2.35571,2.355,2.34911,2.37429
201912,2019/12/31,4.56226,3.12929,2.90607,2.66613,2.43732,2.42786,2.42571,2.43274
202001,2020/01/31,2.06036,2.25446,2.23702,2.23327,2.3025,2.35232,2.35643,2.39232

In [25]:
s_hibor = list('Hibor' + i for i in ['ON','1W','2W','1M','2M','3M','6M','12M'])
s_hibor

['HiborON',
 'Hibor1W',
 'Hibor2W',
 'Hibor1M',
 'Hibor2M',
 'Hibor3M',
 'Hibor6M',
 'Hibor12M']

In [26]:
hibor.columns = ['date'] + s_hibor
hibor
hk = hibor.loc[:,'Hibor1M'] / 100
hk

ym
200203      0.02125
200204    0.0189063
200205    0.0173214
200206    0.0178571
200207    0.0174777
            ...
201909    0.0188357
201910    0.0177786
201911    0.0218613
201912    0.0266613
202001    0.0223327
Name: Hibor1M, Length: 215, dtype: object

### AU

In [27]:
ausrate = pd.read_excel('澳大利亚利率(日).xlsx').drop([0,1,11111,11112])
ausrate.rename(columns = {'指标名称':'date'},inplace = True)
ausrate['ym'] = ausrate['date'].map(lambda x: 100*x.year + x.month)
ausrate.drop_duplicates('ym','last',inplace = True)
ausrate = ausrate.set_index('ym')
ausrate['date'] = ausrate['date'].dt.strftime('%Y/%m/%d')
# ausrate = ausrate.set_index('date')
# ausrate = ausrate / 100
ausrate = ausrate.drop([202002]).iloc[:,[3,4,5]]
ausrate.columns = ['AUS1M','AUS3M','AUS6M']
ausrate
au = ausrate.loc[:,'AUS1M'] / 100
au

ym
197604         NaN
197605         NaN
197606         NaN
197607         NaN
197608         NaN
            ...
201909      0.0101
201910     0.00932
201911    0.008241
201912      0.0088
202001       0.008
Name: AUS1M, Length: 526, dtype: object

### NZ

In [28]:
newone = pd.read_excel('hb2-daily-1985-2017.xlsx')
newone
newtwo = pd.read_excel('hb2-daily.xlsx').drop([0,1,2,3])
newtwo

,Unnamed: 0,Cash rate,Cash rate.1,Bank bill yields,Bank bill yields.1,Bank bill yields.2,Secondary market government bond yields,Secondary market government bond yields.1,Secondary market government bond yields.2,Secondary market government bond yields.3,Inflation indexed bond,Inflation indexed bond.1,Inflation indexed bond.2,Inflation indexed bond.3
4,2018-01-03 00:00:00,1.75,1.74,1.79,1.84,1.89,1.79,1.91,2.28,2.77,1.29,1.53,1.76,2.03
5,2018-01-04 00:00:00,1.75,1.51,1.79,1.83,1.88,1.79,1.92,2.32,2.77,1.31,1.56,1.79,2.05
6,2018-01-05 00:00:00,1.75,1.5,1.79,1.83,1.87,1.78,1.92,2.32,2.76,1.31,1.56,1.79,2.05
7,2018-01-08 00:00:00,1.75,1.59,1.79,1.83,1.88,1.78,1.93,2.34,2.78,1.34,1.58,1.81,2.08
8,2018-01-09 00:00:00,1.75,1.63,1.79,1.83,1.87,1.78,1.96,2.39,2.81,1.35,1.6,1.83,2.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,2020-02-27 00:00:00,1,1,1.08,1.08,1.08,0.88,NaN,0.99,1.17,-0.13,0.18,0.39,0.55
545,2020-02-28 00:00:00,1,0.89,1.08,1.07,1.06,0.83,NaN,0.89,1.07,-0.16,0.14,0.36,0.51
546,2020-03-02 00:00:00,1,0.97,1.01,0.93,0.87,0.6,NaN,0.7,0.93,-0.22,0.08,0.29,0.45
547,2020-03-03 00:00:00,1,0.92,1.02,0.96,0.9,0.6,NaN,0.83,1.06,-0.21,0.09,0.3,0.46
548,2020-03-04 00:00:00,1,NaN,1.01,0.89,0.77,0.55,NaN,0.72,0.95,-0.23,0.07,0.28,0.44

In [29]:
nzrate = newone.append(newtwo).iloc[:,[0,3,4,5]]
nzrate.columns = ['date','NZ1M','NZ2M','NZ3M']
nzrate = nzrate.drop([0,1,2,3])
# nzrate['date'] = nzrate['date'].dt.strftime('%Y/%m/%d')
# nzrate = nzrate.set_index('date') / 100
nzrate['ym'] = nzrate['date'].map(lambda x: 100*x.year + x.month)
nzrate.drop_duplicates('ym','last',inplace = True)
nzrate = nzrate.set_index('ym').drop([202002,202003])
nzrate
nz = nzrate.loc[:,'NZ1M'] / 100
nz

ym
198501     0.173
198502       0.3
198503     0.225
198504     0.218
198505     0.244
           ...
201909    0.0119
201910    0.0117
201911    0.0117
201912    0.0119
202001    0.0121
Name: NZ1M, Length: 421, dtype: object

### SG

In [30]:
sibor = pd.read_excel('新加坡SIBOR.xlsx')
sibor = sibor.drop([0,1,3676,3677])
sibor.columns = ['date'] + ['Sibor' + j for j in ['ON','1M','3M','6M','12M']]
sg = sibor.loc[:,['date','Sibor1M']]
sg = sg.dropna()
sg['ym'] = sg['date'].map(lambda x: 100*x.year + x.month)
sg.drop_duplicates('ym','last',inplace = True)
sg = sg.set_index('ym').drop([202002])
# sibor['date'] = sibor['date'].dt.strftime('%Y/%m/%d')
# sibor = sibor.set_index('date') / 100
# sibor
# sg = sibor.loc[:,'Sibor1M'] / 100
sg = sg.loc[:,'Sibor1M'] / 100
sg

ym
201401     0.003552
201402    0.0035434
201403    0.0036034
201404    0.0035622
201405    0.0035784
            ...
201909    0.0187209
201910    0.0178163
201911    0.0174658
201912       0.0175
202001    0.0168625
Name: Sibor1M, Length: 73, dtype: object

### CA

In [31]:
cadrate = pd.read_excel('加拿大利率(日).xlsx')
cadrate = cadrate.drop([0,1,5512,5513])
cadrate.rename(columns = {'指标名称':'date','加拿大:银行承兑汇票利率:1个月':'CA1M'},inplace = True)
ca = cadrate.loc[:,['date','CA1M']]
ca = ca.dropna()
ca['ym'] = ca['date'].map(lambda x: 100*x.year + x.month)
ca.drop_duplicates('ym','last',inplace = True)
ca = ca.set_index('ym').drop([202002])
# cadrate['date'] = cadrate['date'].dt.strftime('%Y/%m/%d')
# cadrate['date'] = pd.to_datetime(cadrate.loc[:,'date'],format = '%Y/%m/%d').dt.strftime('%Y/%m/%d')
# cadrate = cadrate.set_index('date').iloc[:,range(2,7)] / 100
# cadrate.columns = ['CADtreabillrt' + i for i in ['1M','2M','3M','6M','12M']]
ca = ca.loc[:,'CA1M'] / 100
ca

ym
199901       0.0503
199902       0.0505
199903       0.0481
199904       0.0477
199905       0.0465
            ...
201909    0.0182253
201910    0.0183244
201911    0.0184704
201912    0.0199451
202001     0.018414
Name: CA1M, Length: 253, dtype: object

### MY

In [32]:
myrate = pd.read_excel('马来西亚吉隆坡银行间同业拆借利率.xlsx')
myrate = myrate.drop([0,1,3704,3705])
myrate.columns = ['date'] + ['MY' + i for i in ['1M','2M','3M','6M','9M','12M']]
myrate['ym'] = myrate['date'].map(lambda x: 100*x.year + x.month)
myrate.drop_duplicates('ym','last',inplace = True)
myrate = myrate.set_index('ym').drop([202002,202003])
# myrate['date'] = myrate['date'].dt.strftime('%Y/%m/%d')
# myrate = myrate.set_index('date') / 100
# myrate
my = myrate.loc[:,'MY1M'] / 100
my

ym
200901    0.0257
200902    0.0209
200903    0.0209
200904    0.0209
200905    0.0209
           ...
201909    0.0319
201910    0.0318
201911    0.0317
201912    0.0317
202001    0.0294
Name: MY1M, Length: 133, dtype: object

### TH

In [33]:
bibor = pd.read_excel('泰国BIBOR(日).xlsx')
bibor = bibor.drop([0,1,3702,3703])
bibor.rename(columns = {'指标名称':'date','泰国:BIBOR:平均利率:1月':'Bibor1M'},inplace = True)
bibor['ym'] = bibor['date'].map(lambda x: 100*x.year + x.month)
bibor.drop_duplicates('ym','last',inplace = True)
bibor = bibor.set_index('ym').drop([202002])
# bibor
th = bibor.loc[:,'Bibor1M'] / 100
th

ym
200501    0.0232922
200502    0.0238313
200503    0.0244828
200504    0.0246563
200505    0.0248719
            ...
201909       0.0155
201910       0.0155
201911        0.013
201912    0.0129866
202001    0.0129707
Name: Bibor1M, Length: 181, dtype: object

### SH

In [11]:
shibor = pd.read_excel('SHIBOR(日).xlsx')
shibor = shibor.drop([0,1])
shibor.rename(columns = {'指标名称':'date'},inplace = True)
# shibor['date'] = shibor['date'].dt.strftime('%Y/%m/%d')
shibor['ym'] = shibor['date'].map(lambda x: 100*x.year + x.month)
shibor.drop_duplicates('ym','last',inplace = True)
shibor = shibor.set_index('ym').drop([202002])
shibor.rename(columns = {'SHIBOR:1个月':'Shibor1M'},inplace = True)
# shibor
# ibcn = shibor.iloc[:,5]
# ibcn = pd.DataFrame(ibcn)
# ibcn.rename(columns = {'SHIBOR:3个月':'shibor3M'},inplace = True)
# ibcn
sh = shibor.loc[:,'Shibor1M'] / 100
sh

ym
200610    0.026167
200611    0.030847
200612    0.025833
200701    0.025196
200702    0.025326
            ...
201909     0.02762
201910     0.02775
201911     0.02783
201912    0.029785
202001     0.02822
Name: Shibor1M, Length: 160, dtype: object

### cnhhibor

In [18]:
cnhhibor = pd.read_excel('CNH Hibor 1M.xlsx')
cnhhibor.drop_duplicates('ym','last',inplace = True)
cnhhibor = cnhhibor.set_index('ym')

In [19]:
cnhhibor.rename(columns = {'价格':'cnhhibor1M'},inplace = True)
cnhhibor = cnhhibor.iloc[:,3] / 100
cnhhibor

ym
201305    0.027300
201306    0.040095
201307    0.026376
201308    0.024838
201309    0.022400
            ...
201912    0.030730
202001    0.034085
202002    0.028210
202003    0.020763
202004    0.018150
Name: cnhhibor1M, Length: 84, dtype: float64

## Spot exchange rate(w/o bid ask)

In [37]:
spot = pd.read_excel('人民币即期汇率(日).xlsx').drop([0,10017,10018])
spot

,指标名称,即期汇率:美元兑人民币,即期汇率:欧元兑人民币,即期汇率:港元兑人民币,即期汇率:100日元兑人民币,即期汇率:英镑兑人民币,即期汇率:澳元兑人民币,即期汇率:加元兑人民币,即期汇率:新西兰元兑人民币,即期汇率:新加坡元兑人民币,...,即期汇率:人民币兑波兰兹罗提,即期汇率:人民币兑丹麦克朗,即期汇率:人民币兑迪拉姆,即期汇率:人民币兑墨西哥比索,即期汇率:人民币兑挪威克朗,即期汇率:人民币兑瑞典克朗,即期汇率:人民币兑沙特里亚尔,即期汇率:人民币兑土耳其里拉,即期汇率:人民币兑匈牙利福林,即期汇率:人民币兑泰国铢
1,1981-01-02 00:00:00,1.5341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1981-01-05 00:00:00,1.5418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1981-01-06 00:00:00,1.5264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1981-01-07 00:00:00,1.5264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1981-01-08 00:00:00,1.5264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10012,2020-02-17 00:00:00,6.9807,7.5668,0.8986,6.3545,9.1039,4.6974,5.2739,NaN,5.0227,...,0.56143,0.9876,0.52621,2.657,1.3244,1.3914,0.53736,0.86773,44.384,4.4684
10013,2020-02-18 00:00:00,7.0052,7.5853,0.90122,6.3801,9.0795,4.6796,5.2792,NaN,5.0245,...,0.56301,0.9874,0.52602,2.6579,1.3263,1.388,0.53716,0.86593,44.3468,4.4663
10014,2020-02-19 00:00:00,6.9941,7.5545,0.8999,6.3516,9.1038,4.6883,5.2878,4.4783,5.0312,...,0.56457,0.9883,0.52462,2.6552,1.3323,1.3972,0.53573,0.86619,44.4037,4.451
10015,2020-02-20 00:00:00,7.0153,7.5708,0.90221,6.2845,NaN,4.6555,5.3007,4.4613,5.0108,...,0.56387,0.9866,0.5245,2.65,1.3229,1.3963,0.53561,0.86874,44.5049,4.472
10016,2020-02-21 00:00:00,7.0386,7.6037,0.90356,6.3062,9.0659,4.6418,5.3085,4.4429,5.0215,...,0.56477,0.9859,0.52314,2.6841,1.3272,1.3965,0.53427,0.86921,44.651,4.502

In [38]:
usdspot = spot.loc[:,['指标名称','即期汇率:美元兑人民币']]
usdspot

                      指标名称 即期汇率:美元兑人民币
1      1981-01-02 00:00:00      1.5341
2      1981-01-05 00:00:00      1.5418
3      1981-01-06 00:00:00      1.5264
4      1981-01-07 00:00:00      1.5264
5      1981-01-08 00:00:00      1.5264
...                    ...         ...
10012  2020-02-17 00:00:00      6.9807
10013  2020-02-18 00:00:00      7.0052
10014  2020-02-19 00:00:00      6.9941
10015  2020-02-20 00:00:00      7.0153
10016  2020-02-21 00:00:00      7.0386

[10016 rows x 2 columns]

In [39]:
eurspot = spot.loc[:,['指标名称','即期汇率:欧元兑人民币']]
eurspot

                      指标名称 即期汇率:欧元兑人民币
1      1981-01-02 00:00:00         NaN
2      1981-01-05 00:00:00         NaN
3      1981-01-06 00:00:00         NaN
4      1981-01-07 00:00:00         NaN
5      1981-01-08 00:00:00         NaN
...                    ...         ...
10012  2020-02-17 00:00:00      7.5668
10013  2020-02-18 00:00:00      7.5853
10014  2020-02-19 00:00:00      7.5545
10015  2020-02-20 00:00:00      7.5708
10016  2020-02-21 00:00:00      7.6037

[10016 rows x 2 columns]

In [40]:
hkdspot = spot.loc[:,['指标名称','即期汇率:港元兑人民币']]
hkdspot

                      指标名称 即期汇率:港元兑人民币
1      1981-01-02 00:00:00         NaN
2      1981-01-05 00:00:00         NaN
3      1981-01-06 00:00:00         NaN
4      1981-01-07 00:00:00         NaN
5      1981-01-08 00:00:00         NaN
...                    ...         ...
10012  2020-02-17 00:00:00      0.8986
10013  2020-02-18 00:00:00     0.90122
10014  2020-02-19 00:00:00      0.8999
10015  2020-02-20 00:00:00     0.90221
10016  2020-02-21 00:00:00     0.90356

[10016 rows x 2 columns]

In [41]:
jpyspot = spot.loc[:,['指标名称','即期汇率:100日元兑人民币']]
jpyspot['即期汇率:100日元兑人民币'] = jpyspot['即期汇率:100日元兑人民币']/100
jpyspot

                      指标名称 即期汇率:100日元兑人民币
1      1981-01-02 00:00:00            NaN
2      1981-01-05 00:00:00            NaN
3      1981-01-06 00:00:00            NaN
4      1981-01-07 00:00:00            NaN
5      1981-01-08 00:00:00            NaN
...                    ...            ...
10012  2020-02-17 00:00:00       0.063545
10013  2020-02-18 00:00:00       0.063801
10014  2020-02-19 00:00:00       0.063516
10015  2020-02-20 00:00:00       0.062845
10016  2020-02-21 00:00:00       0.063062

[10016 rows x 2 columns]

In [42]:
gbpspot = spot.loc[:,['指标名称','即期汇率:英镑兑人民币']]
gbpspot

                      指标名称 即期汇率:英镑兑人民币
1      1981-01-02 00:00:00         NaN
2      1981-01-05 00:00:00         NaN
3      1981-01-06 00:00:00         NaN
4      1981-01-07 00:00:00         NaN
5      1981-01-08 00:00:00         NaN
...                    ...         ...
10012  2020-02-17 00:00:00      9.1039
10013  2020-02-18 00:00:00      9.0795
10014  2020-02-19 00:00:00      9.1038
10015  2020-02-20 00:00:00         NaN
10016  2020-02-21 00:00:00      9.0659

[10016 rows x 2 columns]

In [43]:
audspot = spot.loc[:,['指标名称','即期汇率:澳元兑人民币']]
audspot

                      指标名称 即期汇率:澳元兑人民币
1      1981-01-02 00:00:00         NaN
2      1981-01-05 00:00:00         NaN
3      1981-01-06 00:00:00         NaN
4      1981-01-07 00:00:00         NaN
5      1981-01-08 00:00:00         NaN
...                    ...         ...
10012  2020-02-17 00:00:00      4.6974
10013  2020-02-18 00:00:00      4.6796
10014  2020-02-19 00:00:00      4.6883
10015  2020-02-20 00:00:00      4.6555
10016  2020-02-21 00:00:00      4.6418

[10016 rows x 2 columns]

In [44]:
cadspot = spot.loc[:,['指标名称','即期汇率:加元兑人民币']]
cadspot

                      指标名称 即期汇率:加元兑人民币
1      1981-01-02 00:00:00         NaN
2      1981-01-05 00:00:00         NaN
3      1981-01-06 00:00:00         NaN
4      1981-01-07 00:00:00         NaN
5      1981-01-08 00:00:00         NaN
...                    ...         ...
10012  2020-02-17 00:00:00      5.2739
10013  2020-02-18 00:00:00      5.2792
10014  2020-02-19 00:00:00      5.2878
10015  2020-02-20 00:00:00      5.3007
10016  2020-02-21 00:00:00      5.3085

[10016 rows x 2 columns]

In [45]:
nzdspot = spot.loc[:,['指标名称','即期汇率:新西兰元兑人民币']]
nzdspot

                      指标名称 即期汇率:新西兰元兑人民币
1      1981-01-02 00:00:00           NaN
2      1981-01-05 00:00:00           NaN
3      1981-01-06 00:00:00           NaN
4      1981-01-07 00:00:00           NaN
5      1981-01-08 00:00:00           NaN
...                    ...           ...
10012  2020-02-17 00:00:00           NaN
10013  2020-02-18 00:00:00           NaN
10014  2020-02-19 00:00:00        4.4783
10015  2020-02-20 00:00:00        4.4613
10016  2020-02-21 00:00:00        4.4429

[10016 rows x 2 columns]

In [46]:
sgdspot = spot.loc[:,['指标名称','即期汇率:新加坡元兑人民币']]
sgdspot

                      指标名称 即期汇率:新加坡元兑人民币
1      1981-01-02 00:00:00           NaN
2      1981-01-05 00:00:00           NaN
3      1981-01-06 00:00:00           NaN
4      1981-01-07 00:00:00           NaN
5      1981-01-08 00:00:00           NaN
...                    ...           ...
10012  2020-02-17 00:00:00        5.0227
10013  2020-02-18 00:00:00        5.0245
10014  2020-02-19 00:00:00        5.0312
10015  2020-02-20 00:00:00        5.0108
10016  2020-02-21 00:00:00        5.0215

[10016 rows x 2 columns]

In [47]:
chfspot = spot.loc[:,['指标名称','即期汇率:瑞郎兑人民币']]
chfspot

                      指标名称 即期汇率:瑞郎兑人民币
1      1981-01-02 00:00:00         NaN
2      1981-01-05 00:00:00         NaN
3      1981-01-06 00:00:00         NaN
4      1981-01-07 00:00:00         NaN
5      1981-01-08 00:00:00         NaN
...                    ...         ...
10012  2020-02-17 00:00:00         NaN
10013  2020-02-18 00:00:00         NaN
10014  2020-02-19 00:00:00         NaN
10015  2020-02-20 00:00:00       7.133
10016  2020-02-21 00:00:00         NaN

[10016 rows x 2 columns]

### usdspot

In [48]:
usdspot.columns = ['date','usdspot']
usdspot['ym'] = usdspot['date'].map(lambda x: 100*x.year + x.month)
usdspot = usdspot.dropna()
usdspot.drop_duplicates('ym','last',inplace = True)
usdspot = usdspot.set_index('ym')
usds = usdspot['usdspot'].drop(202002)
usds

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
198101    1.5886
198102    1.6179
198103    1.6165
198104    1.6882
198105     1.748
           ...
201909    7.1381
201910     7.035
201911    7.0261
201912    6.9662
202001      6.93
Name: usdspot, Length: 469, dtype: object

### eurspot

In [49]:
eurspot.columns = ['date','eurspot']
eurspot['ym'] = eurspot['date'].map(lambda x: 100*x.year + x.month)
eurspot = eurspot.dropna()
eurspot.drop_duplicates('ym','last',inplace = True)
eurspot = eurspot.set_index('ym')
eurs = eurspot['eurspot'].drop(202002)
eurs

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
199202    6.8284
199203    6.7967
199204    6.8628
199205    7.0204
199206    7.3449
           ...
201909    7.8095
201910    7.8514
201911    7.7363
201912    7.8079
202001    7.6835
Name: eurspot, Length: 336, dtype: object

### jpyspot

In [50]:
jpyspot.columns = ['date','jpyspot']
jpyspot['ym'] = jpyspot['date'].map(lambda x: 100*x.year + x.month)
jpyspot = jpyspot.dropna()
jpyspot.drop_duplicates('ym','last',inplace = True)
jpyspot = jpyspot.set_index('ym')
jpys = jpyspot['jpyspot'].drop(202002)
jpys

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
200905      0.0715
200906      0.0707
200907      0.0721
200908      0.0734
200909      0.0758
            ...
201909    0.066208
201910    0.064779
201911    0.064184
201912    0.064142
202001    0.063251
Name: jpyspot, Length: 129, dtype: object

### gbpspot

In [51]:
gbpspot.columns = ['date','gbpspot']
gbpspot['ym'] = gbpspot['date'].map(lambda x: 100*x.year + x.month)
gbpspot = gbpspot.dropna()
gbpspot.drop_duplicates('ym','last',inplace = True)
gbpspot = gbpspot.set_index('ym')
gbps = gbpspot['gbpspot'].drop(202002)
gbps

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
199001    7.9411
199002    7.9331
199003    7.7849
199004    7.7636
199005    7.9425
           ...
201909    8.7829
201910    9.1115
201911    9.0731
201912    9.1483
202001     9.108
Name: gbpspot, Length: 361, dtype: object

### chfspot

In [52]:
chfspot.columns = ['date','chfspot']
chfspot['ym'] = chfspot['date'].map(lambda x: 100*x.year + x.month)
chfspot = chfspot.dropna()
chfspot.drop_duplicates('ym','last',inplace = True)
chfspot = chfspot.set_index('ym')
chfs = chfspot['chfspot'].drop(202002)
chfs

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
201511    6.2109
201512    6.5628
201601    6.4651
201602    6.6129
201603    6.7103
201604    6.6793
201605    6.6379
201606    6.7781
201607    6.8005
201608    6.7898
201609    6.8867
201610    6.8453
201611    6.7818
201612    6.8013
201701    6.8438
201702    6.8161
201703     6.894
201704    6.9446
201705    7.0046
201706    7.0711
201707    6.9524
201708    6.8484
201709    6.8608
201710     6.661
201711    6.7069
201712    6.6739
201801    6.7602
201802    6.7314
201803    6.5679
201804    6.4012
201805    6.4818
201806    6.6611
201807    6.9126
201808    7.0586
201809    7.0513
201810    6.9333
201811    6.9719
201812    6.9605
201901    6.7481
201902    6.7106
201903    6.7666
201904    6.6194
201905    6.8746
201906    7.0364
201907    6.9561
201908    7.2951
201909    7.1762
201910    7.1408
201911    7.0443
201912    7.1888
202001    7.1643
Name: chfspot, dtype: object

### hkdspot

In [53]:
hkdspot.columns = ['date','hkdspot']
hkdspot['ym'] = hkdspot['date'].map(lambda x: 100*x.year + x.month)
hkdspot = hkdspot.dropna()
hkdspot.drop_duplicates('ym','last',inplace = True)
hkdspot = hkdspot.set_index('ym')
hkds = hkdspot['hkdspot'].drop(202002)
hkds

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
199001      0.606
199002     0.6062
199003     0.6063
199004     0.6074
199005     0.6083
           ...
201909    0.90976
201910    0.89761
201911    0.89771
201912    0.89452
202001     0.8914
Name: hkdspot, Length: 361, dtype: object

### audspot

In [54]:
audspot.columns = ['date','audspot']
audspot['ym'] = audspot['date'].map(lambda x: 100*x.year + x.month)
audspot = audspot.dropna()
audspot.drop_duplicates('ym','last',inplace = True)
audspot = audspot.set_index('ym')
auds = audspot['audspot'].drop(202002)
auds

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
199001    3.6494
199002    3.5968
199003    3.5731
199004    3.5566
199005    3.6328
           ...
201909    4.8196
201910     4.865
201911    4.7639
201912    4.8825
202001    4.7632
Name: audspot, Length: 361, dtype: object

### nzdspot

In [55]:
nzdspot.columns = ['date','nzdspot']
nzdspot['ym'] = nzdspot['date'].map(lambda x: 100*x.year + x.month)
nzdspot = nzdspot.dropna()
nzdspot.drop_duplicates('ym','last',inplace = True)
nzdspot = nzdspot.set_index('ym')
nzds = nzdspot['nzdspot'].drop(202002)
nzds

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
201403    5.3331
201404    5.3572
201405    5.3026
201406    5.4165
201407    5.2379
           ...
201909    4.4691
201910    4.5251
201911    4.5168
201912    4.6948
202001    4.5691
Name: nzdspot, Length: 71, dtype: object

### sgdspot

In [56]:
sgdspot.columns = ['date','sgdspot']
sgdspot['ym'] = sgdspot['date'].map(lambda x: 100*x.year + x.month)
sgdspot = sgdspot.dropna()
sgdspot.drop_duplicates('ym','last',inplace = True)
sgdspot = sgdspot.set_index('ym')
sgds = sgdspot['sgdspot'].drop(202002)
sgds

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
201410     4.755
201411     4.714
201412    4.6883
201501    4.6256
201502    4.6165
           ...
201909    5.1592
201910    5.1798
201911    5.1409
201912    5.1809
202001    5.1346
Name: sgdspot, Length: 64, dtype: object

### cadspot

In [57]:
cadspot.columns = ['date','cadspot']
cadspot['ym'] = cadspot['date'].map(lambda x: 100*x.year + x.month)
cadspot = cadspot.dropna()
cadspot.drop_duplicates('ym','last',inplace = True)
cadspot = cadspot.set_index('ym')
cads = cadspot['cadspot'].drop(202002)
cads

G:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

ym
199001    3.9864
199002    3.9734
199003    4.0461
199004    4.0645
199005    4.0409
           ...
201909    5.3949
201910    5.3478
201911    5.2902
201912    5.3385
202001    5.2684
Name: cadspot, Length: 361, dtype: object

### cnhspot

In [12]:
cnhspot = pd.read_excel('离岸人民币汇率(日)USDCNH即期汇率.xlsx')
cnhspot = cnhspot.drop([0,2021,2022])
cnhspot.columns = ['date','usdcnhspot']
cnhspot['ym'] = cnhspot['date'].map(lambda x:100*x.year + x.month)
cnhspot.drop_duplicates('ym','last',inplace = True)
cnhspot = cnhspot.drop(2020)
cnhspot = cnhspot.set_index('ym')
cnhspot

                       date usdcnhspot
ym
201204  2012-04-30 00:00:00     6.3005
201205  2012-05-31 00:00:00     6.3706
201206  2012-06-29 00:00:00     6.3551
201207  2012-07-31 00:00:00     6.3798
201208  2012-08-31 00:00:00     6.3557
...                     ...        ...
201909  2019-09-30 00:00:00    7.14105
201910  2019-10-31 00:00:00    7.04655
201911  2019-11-29 00:00:00    7.03235
201912  2019-12-31 00:00:00     6.9617
202001  2020-01-31 00:00:00     7.0001

[94 rows x 2 columns]

In [13]:
cnhs = cnhspot.iloc[:,1]
cnhs

ym
201204     6.3005
201205     6.3706
201206     6.3551
201207     6.3798
201208     6.3557
           ...
201909    7.14105
201910    7.04655
201911    7.03235
201912     6.9617
202001     7.0001
Name: usdcnhspot, Length: 94, dtype: object

In [14]:
def ercnh(raws,rawr):
    s = pd.DataFrame(raws.dropna()) #导入即期汇率
    r = pd.DataFrame(rawr.dropna()) / 12 #导入外国利率，年化利率转成单月利率
    #cnh = pd.DataFrame(cnhhibor) / 12 #导入本国利率，年化利率转成单月利率
    onshoreint = pd.DataFrame(sh) / 12
    sincar = onshoreint.join(r.join(s)).dropna() #将本国利率、外国利率、即期汇率拼接在一起
    sincar['payoff'] = 0 #生成空列放置套息交易回报
    n = sincar.iloc[:,0].count() #判断行数
    for m in range(1,n):
        rcn = sincar.iloc[m-1,0] #上一期t-1的本国利率
        rk = sincar.iloc[m-1,1] #上一期t-1的外国利率
        sm1 = sincar.iloc[m-1,2] #上一期t-1的汇率
        s = sincar.iloc[m,2] #当期t的汇率
        if rk > rcn :
            sincar.iloc[m,3] = (1 + rk) * s / sm1 - (1 + rcn) #当外国利率高于本国利率时借入本币投资外币
#             sincar.iloc[m,3] = (1 + rk) - (1 + rcn) * sm1 / s #payoff denominated in USD
        else:
            sincar.iloc[m,3] = (1 + rcn) - (1 + rk) * s / sm1 #当本国利率高于外国利率时借入外币投资本币
#             sincar.iloc[m,3] = (1 + rcn) * sm1 / s - (1 + rk) #payoff denominated in USD
    return sincar #返回带有payoff的sincar数据框

In [16]:
onshoreint = pd.DataFrame(sh)
r = pd.DataFrame(us)
s = pd.DataFrame(cnhs)
test = onshoreint.join(r.join(s)).dropna()
test

        Shibor1M  USLibor1M usdcnhspot
ym
201204    0.0404  0.0023875     6.3005
201205  0.029642  0.0023875     6.3706
201206  0.044758  0.0024575     6.3551
201207  0.033479   0.002457     6.3798
201208   0.03652   0.002305     6.3557
...          ...        ...        ...
201909   0.02762  0.0201563    7.14105
201910   0.02775  0.0178488    7.04655
201911   0.02783  0.0169713    7.03235
201912  0.029785   0.017625     6.9617
202001   0.02822  0.0166188     7.0001

[94 rows x 3 columns]

In [15]:
cnhcar = ercnh(cnhs,us)
cnhcar

          Shibor1M    USLibor1M usdcnhspot    payoff
ym
201204  0.00336667  0.000198958     6.3005  0.000000
201205  0.00247017  0.000198958     6.3706 -0.007961
201206  0.00372983  0.000204792     6.3551  0.004705
201207  0.00278992   0.00020475     6.3798 -0.000362
201208  0.00304333  0.000192083     6.3557  0.006363
...            ...          ...        ...       ...
201909  0.00230167   0.00167969    7.14105  0.003358
201910   0.0023125    0.0014874    7.04655  0.013878
201911  0.00231917   0.00141428    7.03235  0.002843
201912  0.00248208   0.00146875     6.9617  0.010966
202001  0.00235167    0.0013849     7.0001 -0.004511

[94 rows x 4 columns]

In [17]:
cnhcar.rename(columns = {'payoff':'cnhcarpayoff'},inplace = True)
cnhcarpayoff = cnhcar.loc[:,'cnhcarpayoff']
cnhcarpayoff.to_excel('cnhcarpayoff_onshoreintv2.xlsx') # using onshore interest rate
cnhcarpayoff.describe()

count    94.000000
mean      0.001204
std       0.012421
min      -0.036213
25%      -0.004501
50%       0.003101
75%       0.008591
max       0.035775
Name: cnhcarpayoff, dtype: float64

## Re-execute carry trade strategy

In [ ]:
def er3(raws,rawr):
    s = pd.DataFrame(raws.dropna()) #导入即期汇率
    r = pd.DataFrame(rawr.dropna()) / 12 #导入外国利率，年化利率转成单月利率
    shibor = pd.DataFrame(sh) / 12 #导入本国利率，年化利率转成单月利率
    sincar = shibor.join(r.join(s)).dropna() #将本国利率、外国利率、即期汇率拼接在一起
    sincar['payoff'] = 0 #生成空列放置套息交易回报
    n = sincar.iloc[:,0].count() #判断行数
    for m in range(1,n):
        rcn = sincar.iloc[m-1,0] #上一期t-1的本国利率
        rk = sincar.iloc[m-1,1] #上一期t-1的外国利率
        sm1 = sincar.iloc[m-1,2] #上一期t-1的汇率
        s = sincar.iloc[m,2] #当期t的汇率
        if rk > rcn :
            sincar.iloc[m,3] = (1 + rk) * s / sm1 - (1 + rcn) #当外国利率高于本国利率时借入本币投资外币
        else:
            sincar.iloc[m,3] = (1 + rcn) - (1 + rk) * s / sm1 #当本国利率高于外国利率时借入外币投资本币
    return sincar #返回带有payoff的sincar数据框

### usdcar

In [ ]:
usdcar3 = er3(usds,us)
usdcar3

In [ ]:
usdcarpayoff = usdcar3['payoff'].drop(200610)
usdcarpayoff.rename('usdcarr',inplace = True)
usdcarpayoff.describe()

### eurcar

In [ ]:
eurcar3 = er3(eurs,eu)
eurcar3

In [ ]:
eurcarpayoff = eurcar3['payoff'].drop(200610)
eurcarpayoff.rename('eurcarr',inplace = True)
eurcarpayoff.describe()

### jpycar

In [ ]:
jpycar3 = er3(jpys,jp)
jpycarpayoff = jpycar3['payoff'].drop(200905)
jpycarpayoff.rename('jpycarr',inplace = True)
jpycarpayoff.describe()

### gbpcar

In [ ]:
gbpcar3 = er3(gbps,gb)
gbpcar3
gbpcarpayoff = gbpcar3['payoff'].drop(200610)
gbpcarpayoff.rename('gbpcarr',inplace = True)
gbpcarpayoff.describe()

### chfcar

In [ ]:
chfcar3 = er3(chfs,sw)
chfcarpayoff = chfcar3['payoff'].drop(201511)
chfcarpayoff.rename('chfcarr',inplace = True)
chfcarpayoff.describe()

### hkdcar

In [ ]:
hkdcar3 = er3(hkds,hk)
hkdcarpayoff = hkdcar3['payoff'].drop(200610)
hkdcarpayoff.rename('hkdcarr',inplace = True)
hkdcarpayoff.describe()

### audcar

In [ ]:
audcar3 = er3(auds,au)
audcar3
audcarpayoff = audcar3['payoff'].drop(200610)
audcarpayoff.rename('audcarr',inplace = True)
audcarpayoff.describe()

### nzdcar

In [ ]:
nzdcar3 = er3(nzds,nz)
nzdcarpayoff = nzdcar3['payoff'].drop(201403)
nzdcarpayoff.rename('nzdcarr',inplace = True)
nzdcarpayoff.describe()

### sgdcar

In [ ]:
sgdcar3 = er3(sgds,sg)
sgdcarpayoff = sgdcar3['payoff'].drop(201410)
sgdcarpayoff.rename('sgdcarr',inplace = True)
sgdcarpayoff.describe()

### cadcar

In [ ]:
cadcar3 = er3(cads,ca)
cadcarpayoff = cadcar3['payoff'].drop(200610)
cadcarpayoff.rename('cadcarr',inplace = True)
cadcarpayoff.describe()

### Merge

In [ ]:
output3 = pd.concat([usdcarpayoff,eurcarpayoff,jpycarpayoff,\
                     gbpcarpayoff,chfcarpayoff,hkdcarpayoff,\
                     audcarpayoff,nzdcarpayoff,sgdcarpayoff,\
                     cadcarpayoff],axis = 1)
output3.to_excel('Corrected Fml Single Currency Pair Results.xlsx')

### Portfolio Construction

In [ ]:
intpkg = pd.concat([us,eu,jp,gb,sw,hk,au,nz,sg,ca],axis = 1) #年化利率package
intpkg = pd.DataFrame(sh).join(intpkg)
intpkg = intpkg / 12
intpkg.to_excel('intpkg.xlsx')

In [ ]:
intdb = pd.read_excel('reducedintpkg2.xlsx')
intdb = intdb.set_index('ym')
intdb = intdb / 12 #储存月利率
intdb.to_excel('intdb.xlsx')
intdb

In [ ]:
intrk = intdb.rank(axis = 1)
intrk.to_excel('intrk.xlsx')
intrk

In [ ]:
spotdb = pd.concat([usds,eurs,jpys,gbps,chfs,hkds,auds,nzds,sgds,cads],axis = 1)
# intpkg = pd.concat([us,eu,jp,gb,sw,hk,au,nz,sg,ca],axis = 1) #年化利率package
# intpkg = pd.DataFrame(sh).join(intpkg)
spotdb = pd.DataFrame(sh).join(spotdb)
spotdb = spotdb.drop(['Shibor1M'],axis = 1)
spotdb.to_excel('spotdb.xlsx')
spotdb

In [ ]:
spotdb.iloc[0,[0,1]].mean()

In [ ]:
intrk.loc[200610,:].count()

In [ ]:
import math as mt
for i in range(6,11):
    print([mt.ceil(i*0.25),mt.floor(i*0.25),mt.floor(i*0.25),mt.ceil(i*0.25)])

In [ ]:
carryport = pd.DataFrame(index = intrk.index,columns = ['p1','p2','p3','p4'])
carryport

In [ ]:
idxls = list(carryport.index)
idxls[1]

In [ ]:
for i in range(1,160):
    cols = intrk.iloc[i-1,:].count() #统计该行共有多少个非空列，即多少种货币available
    #组合容器：空
    p1 = list()
    p2 = list()
    p3 = list()
    p4 = list()
    if cols == 6:
        qtiles = [1,3,5,6]
        alloport(qtiles)
    elif cols == 7:
        qtiles = [2,4,6,7]
        alloport(qtiles)
    elif cols == 8:
        qtiles = [2,4,6,8]
        alloport(qtiles)
    elif cols == 9:
        qtiles = [2,5,7,9]
        alloport(qtiles)
    elif cols == 10:
        qtiles = [2,5,8,10]
        alloport(qtiles)
   #组合容器：p1-p4列表中储存着列索引的集合e.g.[0,3]
   #判断组合中货币的利率均值是否高于CNY
#     signp1 = decidesign(p1)
#     signp2 = decidesign(p2)
#     signp3 = decidesign(p3)
#     signp4 = decidesign(p4)
#     carryport.iloc[i,0] = signp1 * genrt(p1)
#     carryport.iloc[i,1] = signp2 * genrt(p2)
#     carryport.iloc[i,2] = signp3 * genrt(p3)
#     carryport.iloc[i,3] = signp4 * genrt(p4)
    carryport.iloc[i,0] = genrt(p1)
    carryport.iloc[i,1] = genrt(p2)
    carryport.iloc[i,2] = genrt(p3)
    carryport.iloc[i,3] = genrt(p4)

In [ ]:
def alloport(qtiles):
    for j in range(10): #开始对列排查
        if pd.isnull(intrk.iloc[i-1,j]):
            pass #如果这个数据空缺就跳过
        else:
            if intrk.iloc[i-1,j] <= qtiles[0]: #属于p1
                p1.append(j)
            elif qtiles[0] < intrk.iloc[i-1,j] <= qtiles[1]: #属于p2
                p2.append(j)
            elif qtiles[1] < intrk.iloc[i-1,j] <= qtiles[2]: #属于p3
                p3.append(j)
            else: #属于p4
                p4.append(j)

In [ ]:
def decidesign(port):
    if intdb.iloc[i-1,port].mean() > (dfsh.iloc[i-1,0] / 12): #若组合中货币上一期的平均利率高于上一期的shibor
        signp = 1 #借入shibor sigma - (1+shibor)
    else:
        signp = -1
    return signp

In [ ]:
dfsh = pd.DataFrame(sh)
dfsh

In [ ]:
def genrt(port):
    size = len(port) #组合中货币的数量
    summ = []
    for u in range(size):
        colidx = port[u] #获取该种货币的列索引
        st = spotdb.iloc[i,colidx] #当期汇率
        stm1 = spotdb.iloc[i-1,colidx] #上一期汇率
        it = intdb.iloc[i-1,colidx] #上一期的利率
        payoff = (1 + it) * (st / stm1) #组合中单一货币的payoff
        summ.append(payoff)
    avgpf = sum(summ) / size
    avger = avgpf - (1 + dfsh.iloc[i-1,0] / 12) #组合的超额收益
    return avger

In [ ]:
summ = [0.1,0.2]
sum(summ) / len(summ)
summ[0]

In [ ]:
carryport.to_excel('carryportfolio_v4.xlsx')

In [ ]:
mktrt = pd.DataFrame(index = intrk.index,columns = ['avg'])
mktrt

In [ ]:
for i in range(1,160):
    cols = intrk.iloc[i-1,:].count() #统计该行共有多少个非空列，即多少种货币available
    summ = []
    for j in range(10): #开始对列排查
        if pd.isnull(intrk.iloc[i-1,j]):
            pass #如果这个数据空缺就跳过
        else:
            st = spotdb.iloc[i,j] #当期汇率
            stm1 = spotdb.iloc[i-1,j] #上一期汇率
            it = intdb.iloc[i-1,j] #上一期的利率
            payoff = (1 + it) * (st / stm1) - (1 + dfsh.iloc[i-1,0] / 12) #单一货币的超额收益
            summ.append(payoff)
    avgi = sum(summ) / cols
    mktrt.iloc[i,0] = avgi

In [ ]:
mktrt.to_excel('mktrt.xlsx')

## Spot exchange rate(with bid ask)

In [ ]:
exbid = pd.read_excel('汇买价(中行)(日).xlsx').drop([6259,6260])
exbid.columns = ['date','usdb','eurb','hkdb','100jpyb',\
                 'gbpb','thbb','sgdb','Philipine','Macao',\
                 'chfb','audb','nzdb','cadb']
exbid['100jpyb'] /= 100
exbid['thbbnew'] = 1 / exbid['thbb']
exbid

In [ ]:
exask = pd.read_excel('汇卖价(中行)(日).xlsx').drop([6259,6260])
exask.columns = ['date','usda','eura','hkda','100jpya',\
                 'gbpa','thba','sgda','Philipine','Macao',\
                 'chfa','auda','nzda','cada']
exask['100jpya'] /= 100
exask['thbanew'] = 1 / exask['thba']
exask

In [ ]:
exbid['ym'] = exbid['date'].map(lambda x: 100*x.year + x.month)
exbid.drop_duplicates('ym','last',inplace = True)
exbid = exbid.set_index('ym').drop([202002])
exbid

In [ ]:
exask['ym'] = exask['date'].map(lambda x: 100*x.year + x.month)
exask.drop_duplicates('ym','last',inplace = True)
exask = exask.set_index('ym').drop([202002])
exask

### USD

In [ ]:
usdb = exbid.loc[:,'usdb']
usdb

In [ ]:
usda = exask.loc[:,'usda']
usda

### EUR

In [ ]:
eurb = exbid.loc[:,'eurb']
eurb

In [ ]:
eura = exask.loc[:,'eura']
eura

### JPY

In [ ]:
jpyb = exbid.loc[:,'100jpyb']
jpyb

In [ ]:
jpya = exask.loc[:,'100jpya']
jpya

### GBP

In [ ]:
gbpb = exbid.loc[:,'gbpb']
gbpb

In [ ]:
gbpa = exask.loc[:,'gbpa']
gbpa

### CHF

In [ ]:
chfb = exbid.loc[:,'chfb']
chfb

In [ ]:
chfa = exask.loc[:,'chfa']
chfa

### HKD

In [ ]:
hkdb = exbid.loc[:,'hkdb']
hkdb

In [ ]:
hkda = exask.loc[:,'hkda']
hkda

### AUD

In [ ]:
audb = exbid.loc[:,'audb']
audb

In [ ]:
auda = exask.loc[:,'auda']
auda

### NZD

In [ ]:
nzdb = exbid.loc[:,'nzdb']
nzdb

In [ ]:
nzda = exask.loc[:,'nzda']
nzda

### SGD

In [ ]:
sgdb = exbid.loc[:,'sgdb']
sgdb

In [ ]:
sgda = exask.loc[:,'sgda']
sgda

### CAD

In [ ]:
cadb = exbid.loc[:,'cadb']
cadb

In [ ]:
cada = exask.loc[:,'cada']
cada

### THB

In [ ]:
thbb = exbid.loc[:,'thbbnew']
thbb

In [ ]:
thba = exask.loc[:,'thbanew']
thba

## Single Currency Pair

In [ ]:
def er(rawsb,rawsa,rawr):
    sb = pd.DataFrame(rawsb.dropna())
    sa = pd.DataFrame(rawsa.dropna())
    r = pd.DataFrame(rawr.dropna()) / 12 #年化利率转成单月利率
    shibor = pd.DataFrame(sh) / 12 #年化利率转成单月利率
    sincar = shibor.join(r.join(sb.join(sa))).dropna()
    sincar['payoff'] = 0
    n = sincar.iloc[:,0].count()
    for m in range(1,n):
        rcn = sincar.iloc[m-1,0]
        rk = sincar.iloc[m-1,1]
        sbm1 = sincar.iloc[m-1,2]
        sam1 = sincar.iloc[m-1,3]
        sb = sincar.iloc[m,2]
        sa = sincar.iloc[m,3]
        if rk > rcn :
            sincar.iloc[m,4] = (1 + rk) * sb / sam1 - (1 + rcn)
        else:
            sincar.iloc[m,4] = (1 + rcn) - (1 + rk) * sa / sbm1
    return sincar

### USD/CNY

In [ ]:
us[200611]

In [ ]:
sh[200611]

In [ ]:
usdcar = er(usdb,usda,us)
usdcar = usdcar.drop(200610)
usdcar

In [ ]:
usdcarp = usdcar['payoff']
usdcarp.rename('usdcarp',inplace = True)
usdcarp.describe()

In [ ]:
sfx = pd.read_excel('人民币兑12种货币的即期汇率（无bidask）.xlsx').drop([0,1,6268,6269])
sfx.rename(columns = {'指标名称':'date','USD/CNY 即期':'usdspot'},inplace = True)
usdspot = sfx.iloc[:,[0,1]]
usdspot.dropna()
usdspot['ym'] = usdspot['date'].map(lambda x: 100*x.year + x.month)
usdspot.drop_duplicates('ym','last',inplace = True)
usdspot = usdspot.set_index('ym')
usdspot = usdspot.loc[:,'usdspot']
shmon = sh / 12
rus = us / 12
usdspot = pd.DataFrame(usdspot)
shmon = pd.DataFrame(shmon)
rus = pd.DataFrame(rus)
sincar = shmon.join(rus.join(usdspot))
sincar
sincar['payoff'] = 0
n = sincar.iloc[:,0].count()
for m in range(1,n):
    rcn = sincar.iloc[m-1,0]
    rk = sincar.iloc[m-1,1]
    sm1 = sincar.iloc[m-1,2]
    s = sincar.iloc[m,2]
    sincar.iloc[m,3] = (1 + rcn) - (1 + rk) * s / sm1
sincar

In [ ]:
pf = sincar['payoff'].drop(200610)
pf.describe()

### USD/CNY UIP deviation

In [ ]:
def er2(rawsb,rawsa,rawr):
    sb = pd.DataFrame(rawsb.dropna())
    sa = pd.DataFrame(rawsa.dropna())
    r = pd.DataFrame(rawr.dropna())
    shibor = pd.DataFrame(sh)
    sincar = shibor.join(r.join(sb.join(sa))).dropna()
    sincar['payoff'] = 0
    n = sincar.iloc[:,0].count()
    for m in range(1,n):
        rcn = sincar.iloc[m-1,0]
        rk = sincar.iloc[m-1,1]
        sbm1 = sincar.iloc[m-1,2]
        sam1 = sincar.iloc[m-1,3]
        sb = sincar.iloc[m,2]
        sa = sincar.iloc[m,3]
        sincar.iloc[m,4] = (1 + rcn) - (1 + rk) * sa / sbm1
    return sincar

In [ ]:
usdcar2 = er2(usdb,usda,us)
usdcar2 = usdcar2.drop(200610)
usduipdev = usdcar2.loc[:,'payoff']
usduipdev.to_excel('usduipdev.xlsx')

### EUR/CNY

In [ ]:
eurcar = er(eurb,eura,eu)
eurcar = eurcar.drop(200610)
eurcar

In [ ]:
eurcarp = eurcar['payoff']
eurcarp.rename('eurcarp',inplace = True)
eurcarp.describe()

### JPY/CNY

In [ ]:
jpycar = er(jpyb,jpya,jp)
jpycar = jpycar.drop(200610)
jpycar

In [ ]:
jpycarp = jpycar['payoff']
jpycarp.rename('jpycarp',inplace = True)
jpycarp.describe()

### GBP/CNY

In [ ]:
gbpcar = er(gbpb,gbpa,gb)
gbpcar = gbpcar.drop(200610)
gbpcar

In [ ]:
gbpcarp = gbpcar['payoff']
gbpcarp.rename('gbpcarp',inplace = True)
gbpcarp.describe()

### CHF/CNY

In [ ]:
chfcar = er(chfb,chfa,sw)
chfcar = chfcar.drop(200610)
chfcar

In [ ]:
chfcarp = chfcar['payoff']
chfcarp.rename('chfcarp',inplace = True)
chfcarp.describe()

### HKD/CNY

In [ ]:
hkdcar = er(hkdb,hkda,hk)
hkdcar = hkdcar.drop(200610)
hkdcar

In [ ]:
hkdcarp = hkdcar['payoff']
hkdcarp.rename('hkdcarp',inplace = True)
hkdcarp.describe()

### AUD/CNY

In [ ]:
audcar = er(audb,auda,au)
audcar = audcar.drop(200610)
audcar

In [ ]:
audcarp = audcar['payoff']
audcarp.rename('audcarp',inplace = True)
audcarp.describe()

### NZD/CNY

In [ ]:
nzdcar = er(nzdb,nzda,nz)
nzdcar = nzdcar.drop(200610)
nzdcar

In [ ]:
nzdcarp = nzdcar['payoff']
nzdcarp.rename('nzdcarp',inplace = True)
nzdcarp.describe()

### SGD/CNY

In [ ]:
sgdcar = er(sgdb,sgda,sg)
sgdcar

In [ ]:
sgdcarp = sgdcar['payoff']
sgdcarp.rename('sgdcarp',inplace = True)
sgdcarp.describe()

### CAD/CNY

In [ ]:
cadcar = er(cadb,cada,ca)
cadcar = cadcar.drop(200610)
cadcar

In [ ]:
cadcarp = cadcar['payoff']
cadcarp.rename('cadcarp',inplace = True)
cadcarp.describe()

### THB/CNY

In [ ]:
thbcar = er(thbb,thba,th)
thbcar = thbcar.drop(200610)
thbcar

In [ ]:
thbcarp = thbcar['payoff']
thbcarp.rename('thbcarp',inplace = True)
thbcarp.describe()

### MERGE

In [ ]:
output = pd.concat([usdcarp,eurcarp,jpycarp,gbpcarp,chfcarp,hkdcarp,audcarp,nzdcarp,sgdcarp,cadcarp,thbcarp],axis = 1)
output.to_excel('Fml Single Currency Pair Results.xlsx')

## Regression

### NDF-Implied offshore short-term rate

In [63]:
liborus
us3m = liborus.loc[:,['date'] + ['USLibor3M']]
us3m = us3m.dropna()
us3m['ym'] = us3m['date'].map(lambda x: 100*x.year + x.month)
us3m.drop_duplicates('ym','last',inplace = True)
us3m = us3m.set_index('ym').drop(202002)
# us3m['date'] = us3m['date'].dt.strftime('%Y/%m/%d')
us3m = us3m.iloc[:,1] / 400
us3m

ym
198601     0.0201563
198602     0.0196875
198603     0.0185937
198604     0.0171875
198605     0.0178125
             ...
201909    0.00521282
201910    0.00475563
201911    0.00476375
201912    0.00477095
202001    0.00437783
Name: USLibor3M, Length: 409, dtype: object

In [64]:
usdspot = pd.read_excel('人民币即期汇率(日).xlsx')
usdspot = usdspot.drop([0,10017,10018])
usdspot = usdspot.iloc[:,[0,1]]
usdspot.columns = ['date','spotrate']
usdspot = usdspot.dropna()
usdspot

                      date spotrate
1      1981-01-02 00:00:00   1.5341
2      1981-01-05 00:00:00   1.5418
3      1981-01-06 00:00:00   1.5264
4      1981-01-07 00:00:00   1.5264
5      1981-01-08 00:00:00   1.5264
...                    ...      ...
10012  2020-02-17 00:00:00   6.9807
10013  2020-02-18 00:00:00   7.0052
10014  2020-02-19 00:00:00   6.9941
10015  2020-02-20 00:00:00   7.0153
10016  2020-02-21 00:00:00   7.0386

[9888 rows x 2 columns]

In [65]:
usdspot['ym'] = usdspot['date'].map(lambda x: 100*x.year + x.month)
usdspot.drop_duplicates('ym','last',inplace = True)
usdspot = usdspot.set_index('ym').drop(202002)
usdspot = usdspot.iloc[:,1]
usdspot.to_excel('nominalusdspot.xlsx')
usdspot

ym
198101    1.5886
198102    1.6179
198103    1.6165
198104    1.6882
198105     1.748
           ...
201909    7.1381
201910     7.035
201911    7.0261
201912    6.9662
202001      6.93
Name: spotrate, Length: 469, dtype: object

In [66]:
ndf = pd.read_excel('NDF 3M_Bloomberg.xlsx')
ndf.columns = ['date','NDF3M']
ndf = ndf.dropna()
ndf['ym'] = ndf['date'].map(lambda x: 100*x.year + x.month)
ndf.drop_duplicates('ym','last',inplace = True)
ndf = ndf.set_index('ym').drop([202002,202003,202004],axis = 0)
ndf = ndf.iloc[:,1]
ndf

ym
200601    7.9685
200602    7.9245
200603    7.9495
200604    7.9225
200605    7.9465
           ...
201909    7.1474
201910    7.0589
201911    7.0473
201912    6.9768
202001    7.0220
Name: NDF3M, Length: 169, dtype: float64

In [67]:
shibor = pd.read_excel('SHIBOR(日).xlsx')
shibor = shibor.drop([0,1])
shibor.rename(columns = {'指标名称':'date'},inplace = True)
# shibor['date'] = shibor['date'].dt.strftime('%Y/%m/%d')
shibor['ym'] = shibor['date'].map(lambda x: 100*x.year + x.month)
shibor.drop_duplicates('ym','last',inplace = True)
shibor = shibor.set_index('ym').drop([202002])
shibor.rename(columns = {'SHIBOR:3个月':'Shibor3M'},inplace = True)
# shibor
# ibcn = shibor.iloc[:,5]
# ibcn = pd.DataFrame(ibcn)
# ibcn.rename(columns = {'SHIBOR:3个月':'shibor3M'},inplace = True)
# ibcn
sh3m = shibor.loc[:,'Shibor3M'] / 400
sh3m

ym
200610    0.00661975
200611     0.0070135
200612     0.0070205
200701    0.00702075
200702    0.00713475
             ...
201909       0.00682
201910     0.0072175
201911     0.0075425
201912       0.00755
202001      0.007145
Name: Shibor3M, Length: 160, dtype: object

In [68]:
ndfimplied = pd.concat([sh3m,us3m,ndf,usdspot],axis = 1)
ndfimplied = ndfimplied.dropna()
ndfimplied
# ndfimplied.to_excel('ndfimplied.xlsx')

          Shibor3M   USLibor3M   NDF3M spotrate
ym
200610  0.00661975   0.0134266  7.8195   7.8765
200611   0.0070135    0.013425  7.7385   7.8323
200612   0.0070205      0.0134  7.7046   7.8065
200701  0.00702075      0.0134  7.6615   7.7743
200702  0.00713475   0.0133703  7.6410   7.7365
...            ...         ...     ...      ...
201909     0.00682  0.00521282  7.1474   7.1381
201910   0.0072175  0.00475563  7.0589    7.035
201911   0.0075425  0.00476375  7.0473   7.0261
201912     0.00755  0.00477095  6.9768   6.9662
202001    0.007145  0.00437783  7.0220     6.93

[160 rows x 4 columns]

In [69]:
ndfimplied['impldint'] = (1 + ndfimplied['USLibor3M']) * ndfimplied['NDF3M'] / ndfimplied['spotrate'] - 1
ndfimplied

          Shibor3M   USLibor3M   NDF3M spotrate     impldint
ym
200610  0.00661975   0.0134266  7.8195   7.8765   0.00609269
200611   0.0070135    0.013425  7.7385   7.8323   0.00128817
200612   0.0070205      0.0134  7.7046   7.8065  0.000171862
200701  0.00702075      0.0134  7.6615   7.7743  -0.00130377
200702  0.00713475   0.0133703  7.6410   7.7365  0.000861197
...            ...         ...     ...      ...          ...
201909     0.00682  0.00521282  7.1474   7.1381   0.00652248
201910   0.0072175  0.00475563  7.0589    7.035   0.00816908
201911   0.0075425  0.00476375  7.0473   7.0261   0.00779544
201912     0.00755  0.00477095  6.9768   6.9662   0.00629984
202001    0.007145  0.00437783  7.0220     6.93    0.0177116

[160 rows x 5 columns]

In [70]:
ndfimplied['CCgap'] = ndfimplied['Shibor3M'] - ndfimplied['impldint']
CCgap = ndfimplied['CCgap']
CCgap = CCgap.drop(200610)
CCgap.to_excel('CCgap.xlsx')
CCgap

ym
200611     0.00572533
200612     0.00684864
200701     0.00832452
200702     0.00627355
200703     0.00839512
             ...
201909    0.000297516
201910    -0.00095158
201911   -0.000252945
201912     0.00125016
202001     -0.0105666
Name: CCgap, Length: 159, dtype: object

### VIX

In [ ]:
vix = pd.read_excel('标普500波动率指数.xlsx')
vix = vix.drop([0,1,7595,7596])
vix = vix.iloc[:,[0,2]]
vix.columns = ['date','vix']
vix = vix.dropna()
vix['ym'] = vix['date'].map(lambda x: 100 * x.year + x.month)
vix['vix'] = vix['vix'].apply(pd.to_numeric)
vixmtavg = vix.groupby('ym')['vix'].mean()
vixmtavg = vixmtavg.drop(202002) / 100
vixmtavg.to_excel('vixmtavg.xlsx')